# devcontainer volumes
.devcontainer/volumes/**
!.devcontainer/volumes/**/
.devcontainer/volumes/**/.*
!.devcontainer/volumes/**/.gitkeep

# devsy
.devsy-internal

# agents
.agents
.backup
.claude
.cursor

# temporary files
__NOTES__.md
